* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #171717;
  color: white;
}

#navbar {
  display: flex;
  padding: 30px 0px 0px 0px;
  padding-left: 30px;
  align-items: center;
}

#navbar .logo img {
  width: 70px;
}

#navbar .item {
  margin-left: 30px;
  display: flex;
  column-gap: 30px;
}

#navbar .item a {
  color: inherit;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
}

#content {
  margin-top: 50px;
  height: 100%;
  display: flex;
  padding: 10px 40px;
}

#content .card-grid {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  column-gap: 40px;
  align-items: center;
}

#content .card {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 350px;
  max-height: max-content;
}
